{% extends 'Single_Email/base.html' %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <h1>This is Mail sender</h1>
        Login<br>
        <input type="email" name="Login_Email"><br>
        <input type="password" name="Login_Password"><br>
        Subject<br>
        <input type="text" name="subject"><br>
        message<br>
        <textarea name="message" cols="30" rows='10'></textarea><br>
        To_Email<br>
        <input type="email" name="email"><br>
        <button type="submit">Send</button><br>
{% endblock  %}